*.iml

custom-test-filters/.gradle
custom-test-filters/.idea/caches
custom-test-filters/.idea/libraries
custom-test-filters/.idea/modules.xml
custom-test-filters/.idea/workspace.xml
custom-test-filters/.idea/navEditor.xml
custom-test-filters/.idea/assetWizardSettings.xml
custom-test-filters/.idea
custom-test-filters/local.properties
custom-test-filters/build
custom-test-filters/captures
custom-test-filters/local.properties

screenshot-test/.gradle
screenshot-test/.idea/caches
screenshot-test/.idea/libraries
screenshot-test/.idea/modules.xml
screenshot-test/.idea/workspace.xml
screenshot-test/.idea/navEditor.xml
screenshot-test/.idea/assetWizardSettings.xml
screenshot-test/.idea
screenshot-test/local.properties
screenshot-test/build
screenshot-test/captures
screenshot-test/local.properties

/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
